---
title: Formulário Enviado
permalink: /join/success/
---

<h1>Sucesso!</h1>

<p>Sua resposta foi recebida, obrigado!</p>

<h2>Próximos passos</h2>
<p>
  Já entrou no nosso <a href="https://telegram.gelos.club">Telegram</a> ou
  <a href="https://matrix.gelos.club">Matrix</a>?
</p>

<p>
É por lá que divulgamos eventos, informes, e marcamos reuniões.
Aparece lá pra dar um oi, se ainda não estiver! :)
</p>

<p><small>Fique com <a href="https://join.gelos.club/meme">um meme aleatório</a> agora</small></p>
