---
title: Formulário de Interesse
permalink: /join/
---

<h1>Junte-se ao GELOS!</h1>

<p>
  Você gosta de FLOSS*, simpatiza com a ideologia, quer aprender a trabalhar em
  comunidade e desenvolver projetos Open/Livres? Ótimo, você pode (e deve)
  entrar para o GELOS!
</p>
<p>
  O GELOS é um grupo de extensão um pouco diferente: procuramos ter uma
  estrutura o mais horizontal possível, e eliminar qualquer forma de hierarquia.
  Levamos o <em>open</em> e <em>livre</em>, presentes no nome, bem a sério!
</p>
<p>
  Todos são livres para entrar, desde que siga nosso
  <small>ultra-hiper-mega-power difícil</small> processo seletivo:
  <strong>ler e simpatizar com as idéias centrais do grupo</strong> e
  <strong>preencher o formulário abaixo</strong>.
</p>

<form action="https://join.gelos.club/" method="post">
  <fieldset>
    <legend>Suas informações básicas:</legend>
    <label>
      Nome Completo:
      <input name="nome" placeholder="Fulano de Souza" required />
    </label>

    <label>
      Universidade (caso curse ou já esteja formado):
      <input name="universidade" placeholder="Universidade de São Paulo" />
    </label>

    <label>
      Curso (caso curse ou já esteja formado):
      <!-- Matemática pra evitar brigas entre BCC e BSI -->
      <input name="curso" placeholder="Bacharelado em Matemática" />
    </label>

    <label>
      Número USP (caso seja aluno USP):
      <input name="nusp" placeholder="12345678" />
    </label>

    <label>
      E-mail:
      <input
        type="email"
        name="email"
        placeholder="fulano@email.com"
        required
      />
    </label>

    <label>
      Telegram:
      <input name="telegram" placeholder="@fulano ou +5516912345678" required />
    </label>
  </fieldset>

  <fieldset>
    <legend>Selecione conhecimentos, mesmo que básicos, que já possui:</legend>

    <label>
      <input type="checkbox" name="knowledges" value="git" />
      Git
    </label>

    <label>
      <input type="checkbox" name="knowledges" value="linux" />
      Conhecimentos de Linux
    </label>

    <label>
      <input type="checkbox" name="knowledges" value="coding" />
      Desenvolvimento de Software
    </label>

    <label>
      <input type="checkbox" name="knowledges" value="marketing" />
      Marketing e Comunicação
    </label>

    <label>
      <input type="checkbox" name="knowledges" value="design" />
      Design/UX
    </label>

    <label>
      <input type="checkbox" name="knowledges" value="edicao" />
      Edição de Imagem/Vídeo
    </label>

    <label>
      <input type="checkbox" name="knowledges" value="licensas" />
      Licensas Open Source e Propriedade Intelectual
    </label>
  </fieldset>

  <fieldset>
    <legend>Selecione as áreas que você gostaria de fazer parte:</legend>

    <label>
      <input type="checkbox" name="areas" value="projetos" />
      Organização de Palestras e Seminários
    </label>

    <label>
      <input type="checkbox" name="areas" value="tecno" />
      Tecnologia e Infraestrutura
    </label>

    <label>
      <input type="checkbox" name="areas" value="comunicacao" />
      Comunicação Social
    </label>

    <label>
      <input type="checkbox" name="areas" value="rh" />
      Recursos Humanos (RH)
    </label>

    <label>
      <input type="checkbox" name="areas" value="midias" />
      Mídias - Edição de Imagens e Vídeo
    </label>

    <label>
      <input type="checkbox" name="areas" value="conteudo" />
      Criação de Conteúdo
    </label>

    <label>
      <input type="checkbox" name="areas" value="financeiro" />
      Financeiro
    </label>

    <label>
      Outro (Sugira uma área):
      <input name="area-outro" placeholder="Área super show" />
    </label>
  </fieldset>

  <fieldset>
    <legend>Agora conte mais sobre você :)</legend>

    <label>
      Você usa Linux? Se sim, qual distro?
      <select name="distro" required>
        <option value="ubuntu">Ubuntu</option>
        <option value="debian">Debian</option>
        <option value="fedora">Fedora</option>
        <option value="popos">PopOS</option>
        <option value="manjaro">Manjaro</option>
        <option value="mint">Mint</option>
        <option value="opensuse">Open Suse</option>
        <option value="arch">Arch :3</option>
        <option value="centos">CentOS</option>
        <option value="elementary">Elementary</option>
        <option value="nixos">NixOS</option>
        <option value="gentoo">Gentoo</option>
        <option value="void">Void</option>
        <option value="nenhum">Não uso linux :(</option>
        <option value="outro">Outro</option>
      </select>
    </label>

    <label>
      Qual seu Software Livre favorito? Escreva sobre ele (se quiser)!
      <input name="fav-soft" placeholder="VLC" required />
      <textarea
        name="fav-soft-just"
        placeholder="É muito massa mano"
      ></textarea>
    </label>

    <label>
      O que te interessa no Software Livre/Open Source?
      <textarea
        name="interessa-floss"
        placeholder="É comunista igual eu"
        required
      ></textarea>
    </label>

    <fieldset>
      <legend>Você já participou de algum projeto Open Source?</legend>
      <label>
        <input type="radio" name="projeto" value="sim" required />
        Sim
      </label>
      <label>
        <input type="radio" name="projeto" value="nao" required />
        Não
      </label>
      <label>
        Se sim e, caso queira, fale um pouco sobre o(s) projeto(s):
        <textarea
          name="sobre-projetos"
          placeholder="Mano eu corrigi um acento no readme, brabo"
        ></textarea>
      </label>
    </fieldset>
  </fieldset>
  <fieldset>
    <legend>Para finalizar:</legend>

    <label>
      Como você pode contribuir com o GELOS?
      <p>
        <small>
          Não se preocupe, não precisa ser nada demais, só de estar presente já
          estará contribuindo :)
        </small>
      </p>
      <textarea
        name="you-contribute"
        placeholder="Vou fazer bolo de paçoca pro coffee break (mt bom mds obrigado Tomieiro)"
        required
      ></textarea>
    </label>

    <label>
      Como você espera que o GELOS contribua com você?
      <p>
        <small> Afinal, a contribuição deve ser mútua :) </small>
      </p>
      <textarea
        name="we-contribute"
        placeholder="Vai me ajudar a criar consciência de classe e tomar os meios de produção"
        required
      ></textarea>
    </label>
  </fieldset>
  <fieldset>
    <legend>Uso dos dados preenchidos:</legend>

    <p>
      No GELOS, presamos pela transparência e autonomia dos membros. Assim,
      gostariamos de deixar claro o que iremos fazer com os dados preenchidos.
    </p>
    <p>
      O objetivo desse formulário é apenas saber suas informações básicas de
      contato e conhecer um pouco sobre você, já que deseja fazer parte da nossa
      comunidade.
    </p>
    <p>Então deixamos claro que:</p>
    <ol>
      <li>
        Em <strong>nenhuma hipótese</strong> usaremos estes dados para te
        discriminar;
      </li>
      <li>
        Em <strong>nenhuma hipótese</strong> divulgaremos estes dados
        <strong>sem</strong> sua autorização;
      </li>
      <li>
        Em <strong>nenhuma hipótese</strong> utilizaremos estes dados para fins
        comerciais;
      </li>
      <li>
        Estes dados poderão ser usados <strong>apenas</strong> internamente no
        grupo;
      </li>
      <li>
        Você poderá solicitar a qualquer momento pela alteração/remoção dos
        dados;
      </li>
      <li>
        Seus dados poderão permanecer salvos <strong>apenas</strong> enquanto
        você tiver vínculo com o GELOS.
      </li>
    </ol>

    <label>
      <input type="checkbox" name="agreement" required />
      Li e concordo com as informações acima.
    </label>
    <button>Enviar</button>
  </fieldset>
</form>

<script>
  document.querySelectorAll(":required").forEach(function (element) {
    element.parentElement.classList.add("required");
  });
</script>
